
.product-card{
    border: 2px solid black;
    margin:30px;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div{
        text-align: center;
         border: none;
         flex-direction: column;
    }
img{
    width: 400px;
    height: auto;
margin: auto;
}}